
body {
    background: #D4A399; 
    color: #F2ECEB;
    margin: 3em auto;
    width: 567px;
    font: 28px/34px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.col {
    margin: 0px;
    float: left;
}
.legend {margin-top: 10px;}
.colpair {
    float: left;
    height: 355px;
}
:not(:last-child).colpair {
    margin-right: 20px;
    border-right: 1px solid #F2ECEB;
}
.cell {
    width: 55px;
    height: 55px;
    margin: 0 20px 20px 0;
    text-align: center;
}
.dark {background: #C0483F;}
.light {background: #F0E1DD;}
